$highlight-background   :#000;
$highlight-foreground   :#ffc96b;
$highlight-comment      :#969896;
$highlight-red          :#ff0008;
$highlight-orange       :#ff6f00;
$highlight-yellow       :#fed800;
$highlight-green        :#00ff00;
$highlight-aqua         :#ff0090;
$highlight-blue         :#ffffff;
$highlight-purple       :#fe353f;
